html,
body {
    margin: 0;
    width: 100%;
    font-family: system-ui, sans-serif;
}

triiiceratops-viewer {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h2,
p {
    margin: 1rem;
}
