name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build:lib
      - run: pnpm run build:element

      - name: Version Packages (Changesets)
        uses: changesets/action@v1
        id: changesets
        with:
          commit: "chore: update versions"
          title: "chore: update versions"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to NPM (OIDC)
        if: steps.changesets.outputs.published != 'true' && steps.changesets.outputs.hasChangesets == 'false'
        run: |
          pnpm config set //registry.npmjs.org/:_authToken $NODE_AUTH_TOKEN
          pnpm publish --access public --no-git-checks --provenance
        env:
          NODE_AUTH_TOKEN: ${{ env.NODE_AUTH_TOKEN }} 